body{
 margin: 0;
  padding: 0;
  background-color: black;  
  color:white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size:1em;
  box-sizing: border-box;
}

 /* --beggining of logo design-- */

.outer{
     margin:4% auto 0% auto;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    height:5.27%;
   max-width:20.25%;
}
.inner{
   border-top: 1px solid white;
      border-bottom: 1px solid white;
      height:90%;
      margin:3% auto;
      width:90%;
      text-align: center;
}
.inner p{
     font-size:3em;
    margin:2px auto;
    font-family: copperplate;
}
#big{
      margin:0 auto;
    padding-top: .5%;
    width: 22%;
    text-align: center;
    font-size: 16px;
    font-family: arial;
}
#min-only{
     font-size:3.5em;
    margin:2px auto;
    font-family: copperplate;
    width: 100%;
    text-align: center;
    display: none;
}

 /* --end of logo design-- */

  /* --beggining of nav design-- */

ul{
   margin: 0 auto;
    margin-top:3%;
    list-style-type: none;
    width: 90%;
    text-align: center;
    overflow: hidden;
    display: block;
    -webkit-transition: max-height 0.4s ease-in-out;
    transition: max-height 0.4s ease-in-out;
}
li{
     display: inline-block;
    margin-bottom: 5%;
    line-height: 2.5em;
    font-size: 16px;
    width: 10.66%;
  text-align: center;
    font-family: forum;
}
.menu{
    text-decoration: none;
    color:white;
    font-family: forum;
}
#fifth{color: #BF9515;}
a:not(.menu){
    text-decoration: none;
    color:#BF9515;   
}
.menu:hover{
    color:#cccc00;
}

   /* --end of nav design-- */

main{
     width: 73%;
    margin:0.5% auto 3% auto;
}
#image, #text-content{
    float: left;
    width: 50%;
    box-sizing: border-box;
}
#image img{
    max-width: 100%;
}
#border{
    padding-top: 15px;
    width: 15px;
    border-bottom: 1px solid white;
}
#text-content{
    padding-left: 1%;
    margin: -2.5% 0;
    padding-bottom: 8%;
}
form{
    box-sizing: border-box;
    width: 100%;
}
input, textarea{
    margin: 5px 0;
}
input{
    width: 105%;
}
#form-field{
    width: 38%;
    float: left;
    margin-right: -50px;
}
#form-field2{
    width: 50%;
    float: right;
    margin-top: 0px;
    margin-left: -1085px;
}
#submit{
    width: 22%;
    
}
#failed{
  position: absolute;
  margin-left: 0;
  margin-top: 100px;
  color: red;
  display: none;
}
#accept{
    display: none;
    position: absolute;
    margin-left: 0;
    margin-top: 100px;
    color: #BF9515;
}

/* --the footer-- */

footer{
  clear:both;
     margin: 1% auto 0 auto;
     border-top: 1px solid white;
     width: 73%;
 }
 .open, .adress{
      margin-top:2.5%;
     width: 25%;
     float: left;
     margin-right: 3%;
     line-height: 0.5em;
 }
 .location{
      margin-top:2%;
     width: 33%;
     float: left;
 }
  .final{
     color:#BF9515;
     margin-bottom:5%;
 }
 #foot{
     margin-top: 0;
 }

      /* --the footer-- */

      /*--   side menu       --*/
         .open-menu{
          width: 75%;
          height: 70px;
          box-sizing: border-box;
           padding: 10px 15px;
          margin-left: 11%;
          margin-top: 3%;
          display: none;
      }
    #hamb-menu{
    float: right;
    clear: both;
    height: auto; 
    width: auto; 
    max-width: 6%; 
    max-height: 75%;
    margin-top: -7%;
    cursor: pointer;
     margin-right: 8%;
    }
    .open-menu p{
    float: left;
    text-align: left;
    font-size: 18px;
    line-height: 90%;
    padding-left:15%;
    font-size: 1.3em;
}

   /* --end of side menu-- */
@media screen and (max-width:1230px){
  #text-content{
      padding-left: 4%;
  }
}
   @media screen and (max-width:1050px){
     #submit{
         width: 35%;
     }
   }
  @media screen and (max-width:990px){
        .open-menu{
       display: block;
   }
   ul{
       max-height: 0;

   }
   li{
       float: none;
       width: 100%;
       text-align: left;
       margin-bottom: 0;
       cursor: pointer;
   }
   ul li a{
       padding: 5px;
   }
   li:hover{
       background-color:#708090;
   }
   .open-on-click{
    max-height: 20em;
}
#hamb-menu{
    width: 50px;
}
  }

   @media screen and (max-width:923px){
      .location{
            float: none;
        }
        .adress, .open{
            line-height: .9em;
        }
        #hamb-menu{
            height: 27px;
            width: 35px;
        }
   }
 @media screen and (max-width:665px){
   #submit{
       width: 44%;
   }
   #hamb-menu{
       width: 35px;
       height: 25px;
       margin-top: -40px;
   }
 }

@media screen and (max-width:600px){
    main{
        display: flex;
        flex-direction: column;
    }
    #hamb-menu{
        height: 20px;
    }
    #image{
        width: 100%;
    }
    #text-content{
        width: 100%;
    }
    #foot{
        width: 200px;
        display: block;
    }
}

 @media screen and (max-width:540px){

           .outer{
               display: none;
           }
           #min-only{
               display: block;
               font-size: 2.5em;
               margin-top: 5%;
           }
 }
 @media screen and (max-width:465px){
     #hamb-menu{
         max-width: 25px;
         
     }
 }