@import 'https://fonts.googleapis.com/css?family=David+Libre';
@import 'https://fonts.googleapis.com/css?family=Droid+Serif';
@import url("common-style.css");
body{
 margin: 0;
  padding: 0;
  background-color: black;  
  color:white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size:1em;
  box-sizing: border-box;
}
#first{ color:#BF9515; }


     /* -- main section --*/
main{
    width: 73%;
    margin:0.5% auto 3% auto;
}     
main p:first-child{
    font-size: 26px;
    font-family: Droid serif;
}
main p:nth-child(2){
    font-size: 22px;
    line-height: 1.3em;
   
}

     /* == karaoke divs == */

.karaoke{
    width: 100%;
}
.karaoke img{
    width: 40%;
    height: 185px;
    display: block;
    float: left;
}
.karaoke-text{
    margin: 0;
    max-width:60% !important;
    height: 185px;
    box-sizing: border-box;
    float: left;
    line-height: 2em;
    padding-left: 3%;
}
.karaoke-text p{
    margin: 0;
    padding: 0;
    font-size: 15px;
}
.karaoke-text p:first-child{
  font-size: 26px;
  font-family: david libre;
  margin-bottom: 15px;
}
.karaoke-text p:nth-child(2){
font-size: 16px;
}
.karaoke-text p:nth-child(4){
margin-top: 40px;
width: 20px;
border-bottom: 1px solid white;
}
.karaoke-text p:nth-child(5){
 font-size: 16px;
}
 #clear{
     clear: both;
 }
    /* == karaoke divs == */

    /* == weekdays == */ 

 .happy{
     margin-top: 70px;
     
     padding: 0;
     display: flex;
     flex-direction: row;
 }   
 .happy div{
     width: 50%;
 }
 #week{
     width: 40%;
      height: 185px;
     background-color: #BF9515;
     display: flex;
     flex-direction: column;
 }
 #week p{
     margin: 35px auto 10px auto;
 }
 #week p:first-child{
     font-size: 32px;
 }
 .happy-text{
     box-sizing: border-box;
    line-height: 2em;
    padding-left: 3%;
 }
 .happy-text p{
     margin: 0;
     padding: 0;
 }

 .happy-text p:first-child{
  font-size: 26px;
  font-family: david libre;
  margin-bottom: 15px;
}
.happy-text p:nth-child(2){
font-size: 16px;
width: 110%;
}
.happy-text p:nth-child(3){
margin-top: 40px;
width: 20px;
border-bottom: 1px solid white;
}
.happy-text p:nth-child(5){
 font-size: 16px;
}


  /* == sunday == */ 

.sunday{
    display: flex;
    flex-direction: row;
    margin-top: 70px;
}
.sunday img{
     width: 40%;
    height: 185px;
}

.sunday-text{
     box-sizing: border-box;
    line-height: 2em;
    padding-left: 3%;
 }
 .sunday-text p{
     margin: 0;
     padding: 0;
 }

 .sunday-text p:first-child{
  font-size: 29px;
  font-family: david libre;
  margin-bottom: 15px;
}
.sunday-text p:nth-child(2){
font-size: 16px;
width: 100%;
}
.sunday-text p:nth-child(3){
margin-top: 20px;
width: 20px;
border-bottom: 1px solid white;
}
.sunday-text p:nth-child(5){
 font-size: 16px;
}

  /* == buy == */

.buy{
    display: flex;
    flex-direction: row;
    margin-top: 70px;
}  
.buy img {
     width: 40%;
    height: 185px;
}
.buy-text{
     box-sizing: border-box;
    line-height: 2em;
    padding-left: 3%;
}

.buy-text p{
     margin: 0;
     padding: 0;
 }

 .buy-text p:first-child{
  font-size: 29px;
  font-family: david libre;
  margin-bottom: 15px;
}
.buy-text p:nth-child(2){
font-size: 16px;
width: 100%;
}
.buy-text p:nth-child(3){
margin-top: 50px;
width: 20px;
border-bottom: 1px solid white;
}
.buy-text p:nth-child(5){
 font-size: 16px;
}

     
  /*== media queries ==*/


    @media all and (max-width:500px){
   
       #week p{
           font-size: 15px;
           overflow: hidden;
           width: 60%;
       }
    }

   @media all and (max-width:402px){

     .happy{
         margin-top: 100px;
     }
   } 